**/node_modules
.next
.cache
.build
*.nfs*
**/.yarn/
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
!**/.yarn/cache
**/.yarn/build-state.yml
**/.yarn/install-state.gz
dist
target
out
.deploy
.logs
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Force npm instead of yarn on Vercel
app/.yarnrc.yml*
app/.yarn/
app/yarn.lock
